body {
  background: lightblue;
}
.navigation {

}
.hamburger {
  display:none;
}
nav {
  background-color: rgba(195, 142, 123, 0.8);
  float:right;
  display:inline-block;
  /*margin: 1%;*/
  font-size: 16px;
  font-family: sans-serif;
  width:30%;
}
@media only screen and (min-width: 1068px){
  nav {
    background-color: yellow);
    float:right;
    display:inline-block;
    /*margin: 1%;*/
    font-size: 16px;
    font-family: sans-serif;
    width:25%;
  }
}
/* mobile phone - portrait*/
@media only screen and (max-width: 767px){
  nav {
    background-color: rgba(157, 193, 37, 0.8);
    float:right;
    display:inline-flex;
    /*margin: 1%;*/
    font-size: 16px;
    font-family: sans-serif;
    width:15%;
  }
}
@media only screen and (max-width: 648px){
.reg {
  display: none
}
.hamburger {
  display: inline-flex;
  width:5%;
}
}
